* {
    font-family: 'Indie Flower', cursive;
  }
  
  header {
      height: 10rem;
      background-image: url(./pictures/anastase-maragos-lZzlMYL7Q0Y-unsplash.jpg);
      background-size: cover;
  }
  
  .header-text {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 1.5rem;
  }
  
  
  main {
      display: flex;
      align-items: center;
      padding: 2rem;
      height: 100vh;
      background-image: url(./pictures/edgar-chaparro-Lwx-q6OdGAc-unsplash\ \(1\).jpg);
      background-size: cover;
      background-position: center;
      border-top: 1rem solid #fff;
      box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #ffae00,
                0 0 0.8rem #ffae00,
                0 0 2.8rem #ffae00,
               0 0 1.3rem #ffae00; 
  }
  
  .drink-table {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1.5rem;
      margin-right: 2rem;
      background-color: black;
      color: white;
      border-radius: 2rem;
      border: 0.2rem solid #fff;
      box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #ffae00,
                0 0 0.8rem #ffae00,
                0 0 2.8rem #ffae00,
                inset 0 0 1.3rem #ffae00; 
  }
  
    h1.neonText {
      cursor: pointer;
      color: #fff;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ff4800,
        0 0 82px #ff4800,
        0 0 92px #ff4800,
        0 0 102px #ff4800,
        0 0 151px #ff4800;
      animation: pulsate-red 2.5s infinite alternate;  
      border: 0.2rem solid #fff;
      border-radius: 2rem;
      padding: 1rem;
      box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #ff4800,
                0 0 0.8rem #ff4800,
                0 0 2.8rem #ff4800,
                inset 0 0 1.3rem #ff4800; 
    }

    p.neonText {
      cursor: pointer;
      color: #fff;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ff7b00,
        0 0 82px #ff7b00,
        0 0 92px #ff7b00,
        0 0 102px #ff7b00,
        0 0 151px #ff7b00;
      animation: pulsate-orange 2.5s infinite alternate;  
      border: 0.2rem solid #fff;
      border-radius: 2rem;
      padding: 1rem;
      box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #ff7b00,
                0 0 0.8rem #ff7b00,
                0 0 2.8rem #ff7b00,
                inset 0 0 1.3rem #ff7b00; 
    }
    
    /* add's flicker effect to text */
    @keyframes pulsate-red {
        
      100% {
    
          text-shadow:
          0 0 4px #ff4800,
          0 0 11px #ff4800,
          0 0 19px #ff4800,
          0 0 40px #ff4800
          0 0 80px #ff4800,
          0 0 90px #ff4800,
          0 0 100px #ff4800,
          0 0 150px #ff4800;
      
      }
      
       0% {
    
        text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #ff4800,
        0 0 45px #ff4800,
        0 0 55px #ff4800,
        0 0 70px #ff4800,
        0 0 80px #ff4800;
  
    }
  }

  @keyframes pulsate-orange {
        
      100% {
    
          text-shadow:
          0 0 4px #ff7b00,
          0 0 11px #ff7b00,
          0 0 19px #ff7b00,
          0 0 40px #ff7b00
          0 0 80px #ff7b00,
          0 0 90px #ff7b00,
          0 0 100px #ff7b00,
          0 0 150px #ff7b00;
      
      }
      
       0% {
    
        text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #ff7b00,
        0 0 45px #ff7b00,
        0 0 55px #ff7b00,
        0 0 70px #ff7b00,
        0 0 80px #ff7b00;
  
    }
  }

  a:link {
    text-decoration: none;
  }
  
